name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    permissions:
      contents: read
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    uses: ./.github/workflows/lint.yaml

  build:
    name: Build
    permissions:
      contents: read
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    uses: ./.github/workflows/build.yaml

  codeql:
    name: Analyze with CodeQL
    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    uses: ./.github/workflows/codeql.yml

  release:
    name: Release
    permissions:
      contents: write
      id-token: write
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - lint
      - build
      - codeql
    uses: ./.github/workflows/release.yaml
